<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Oref1.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="2147483647"/>
    </connectionManagement>
  </system.net>
  <runtime>
    <gcConcurrent enabled="true"/>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <Oref1.Settings>
          <setting name="CitiesJson" serializeAs="String">
            <value>
              [
              {"City":"אשדוד","Id":"אשדוד 271"},
              {"City":"אשקלון","Id":"אשקלון 246"},
              {"City":"אזור תעשייה אשקלון","Id":"אשקלון 247"},
              {"City":"בני דרום","Id":"אשדוד 271"},
              {"City":"רמלה","Id":"שפלה 178"}
              ]</value>
          </setting>
        </Oref1.Settings>
    </applicationSettings>
</configuration>